<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Porsche</title>
        <link rel="stylesheet" href="style3.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  
    
   
<body class = "aboutbody">
    <input type="checkbox" id="check">
    <label for="check">
        <i class = "glyphicon glyphicon-align-justify" id="btn"></i>
        <i class = "glyphicon glyphicon-remove" id="cancel"></i>
    </label>
    <div class="sidebar">  
        <header class = "header" >Control Panel</header>
        <a href="Home.html"><span class="glyphicon glyphicon-home">Home</span></a>
        <a href="Contact.html"><span class="glyphicon glyphicon-user">Contact</span></a>
        <a href="Login.html"><span class="glyphicon glyphicon-edit">Login</span></a>
    </div> 


    <header class="bg-dark text-light text-center py-4">
        <h1>About Us</h1>
    </header>
    <main class="container">
        <section>
            <div class="section-content">
                <h2 class="section-title">Company</h2>
                <p>Porsche Automobil Holding SE (“Porsche SE”) is a European Company (Societas Europaea) and is headquartered at Porscheplatz 1 in 70435 Stuttgart, Germany.</p>
                <p> Porsche SE is a holding company with investments in the areas of mobility and industrial technology. In particular, it holds the majority of the ordinary shares in Volkswagen AG, one of the leading automobile manufacturers in the world. As the parent company of the Volkswagen Group, Volkswagen AG directly and indirectly holds investments in AUDI AG, SEAT S.A., ŠKODA AUTO a.s., Dr. Ing. h.c. F. Porsche AG (“Porsche AG”), TRATON SE (“TRATON”), Volkswagen Financial Services AG, Volkswagen Bank GmbH as well as in numerous other companies in Germany and abroad. In addition to the investment in Volkswagen, the Porsche SE Group holds 25 percent plus one share of the ordinary shares in Porsche AG. In addition to these two core investments, the Porsche SE Group holds non-controlling interests in more than ten technology companies based in North America, Europe and Israel.</p>
                <p>The investment strategy of Porsche SE aims to create sustainable value for its shareholders. This is based on the increase in value of assets under management as well as dividend distributions. The investments of Porsche SE fall into two categories. The first category includes the long-term core investment in Volkswagen AG and Porsche AG. The second category comprises portfolio investments that Porsche SE generally holds for a  temporary period of time. Typically, such investments are characterized by their high potential for growth and for increasing value during the holding period. The sector focus in both investment categories is on mobility and industrial technology.</p>
                      <div class="image-container">
                    <img src="company.jpg">
                </div>
            </div>
        </section>
        <section>
            <div class="section-content">
                <h2 class="section-title">History</h2>
                <p>The Porsche's Extraordinary General Meeting on June 26, 2007 was the starting point for the Porsche Automobil Holding SE. Shareholders of the Dr. Ing. h.c. F. Porsche AG voted unanimously in favor of the operating activities of Porsche AG becoming the responsibility of a hundredpercent subsidiary in accordance with the provisions of the Transformation Act, of adopting a controlling and profit transfer agreement between the holding company and the operating subsidiary, and also of transforming the holding company into a European Company, a so-called Societas Europaea (SE). The name 'Porsche Automobil Holding' was also unanimously approved. The company's headquarters is in Stuttgart.</p>
                <p>The SE was inscribed in the trade register on November 13, 2007. This required a draft final balance report from Dr. Ing. h.c. F. Porsche AG for July 31, 2007, which was finalized by the Supervisory Board the day before the registration. From a legal point of view, Porsche Automobil Holding SE and the former Dr. Ing. h.c. F. Porsche AG are one and the same legal entity. This means the change in corporate form to become an SE entailed no transfer of assets and liabilities. Nevertheless, the company received a new registration number with the Stuttgart District Court when it became a SE. All shareholders of the former Dr. Ing. h.c. F. Porsche AG became shareholders in Porsche Automobil Holding SE after the change in corporate form.</p>
                <div class="image-container">
                    <img src="history.jpg">
                </div>
            </div>
        </section>
    </main>
</body>
</html>