<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Porsche</title>
        <link rel="stylesheet" href="style4.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    
   
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class = "glyphicon glyphicon-align-justify" id="btn"></i>
        <i class = "glyphicon glyphicon-remove" id="cancel"></i>
    </label>
    <div class="sidebar">  
        <header class = "header" >Control Panel</header>
        <a href="Home.html"><span class="glyphicon glyphicon-home">Home</span></a>
        <a href="About.html"><span class="glyphicon glyphicon-question-sign">About</span></a>
        <a href="Login.html"><span class="glyphicon glyphicon-edit">Login</span></a>
    </div> 



<div class="about-section">
    <h1>Contact</h1>
    <p>Our Porsche Centre will be happy to answer individual questions regarding electric mobility and Porsche E-Performance</p>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="person1.jpg" alt="frank" style="width:100%">
        <div class="container">
          <h2>Frank Wiesmann</h2>
          <p class="title">Manager, Product Communications</p>
          <p>Phone: 770-290-3414</p>
          <p>frank.wiesmann@porsche.us</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="person2.jpg" alt="Jarred" style="width:100%">
        <div class="container">
          <h2>Jarred Hopkins</h2>
          <p class="title">Manager, Corporate Communications</p>
          <p>Phone: 404-401-4448</p>
          <p>jarred.hopkins@porsche.us</p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="person3.jpg" alt="Angus" style="width:100%">
          <div class="container">
            <h2>Angus Fitton</h2>
            <p class="title">Vice President, Public Relations</p>
            <p>Phone: 404-406-8771</p>
            <p>angus.fitton@porsche.us</p>
          </div>
        </div>
      </div>
  </div>
</body>
    </head>
        </html>