<!DOCTYPE html>
<html lang="en">
<head>
    <title>Porsche</title>
    <link rel="stylesheet" href="style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body class = "loginbody">
    <input type="checkbox" id="check">
    <label for="check">
        <i class = "glyphicon glyphicon-align-justify" id="btn"></i>
        <i class = "glyphicon glyphicon-remove" id="cancel"></i>
    </label>
    <div class="sidebar">  
        <header class = "header" >Control Panel</header>
        <a href="Home.html"><span class="glyphicon glyphicon-home">Home</span></a>
        <a href="About.html"><span class="glyphicon glyphicon-question-sign">About</span></a>
        <a href="Contact.html"><span class="glyphicon glyphicon-user">Contact</span></a>
        <a href="Login.html"><span class="glyphicon glyphicon-edit">Login</span></a>
    </div> 
    <img src="loginlogo.png" class="loginlogo">
    
    <div class="l">
        <div class="forms">
            <div class="form login">
                <span class="title">Registeration</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your First Name" >
                        <i class="uil uil-user"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Enter your Last Name" >
                            <i class="uil uil-user"></i>
                            </div>
                            <div class="input-field">
                                <input type="text" placeholder="Enter your Date Of Birth" >
                                <i class="uil uil-calendar-alt"></i>
                                </div>
                    <div class="input-field">
                    <input type="text" placeholder="Enter your email" >
                    <i class="uil uil-envelope"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Enter your password" >
                        <i class="uil uil-lock"></i>
                        </div>


                        <div class="input-field button">
                            <input type="button" value="Register Now">
                        </div>
                </form>

            </div>

    </div>

</body>
</html>   